UE_FSM.json
{
  "Comment": "UE Registration and Connection Management State Machine",
  "StartAt": "RM-DEREGISTERED",
  "States": {
    "RM-DEREGISTERED": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.event",
          "StringEquals": "RegistrationAccept",
          "Next": "RM-REGISTERED"
        },
        {
          "Variable": "$.event",
          "StringEquals": "RegistrationReject",
          "Next": "RM-DEREGISTERED"
        }
        
      ],
      "Default": "RM-DEREGISTERED"
    },
    "RM-REGISTERED": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.event",
          "StringEquals": "Deregistration",
          "Next": "RM-DEREGISTERED"
        },
        {
          "Variable": "$.event",
          "StringEquals": "RegistrationUpdateAccept",
          "Next": "CM-CONNECTED"
        },
        {
          "Variable": "$.event",
          "StringEquals": "N2ContextEstablished",
          "Next": "CM-CONNECTED"
        },
        {
          "Variable": "$.event",
          "StringEquals": "RegistrationUpdateReject",
          "Next": "RM-DEREGISTERED"
        },
        {
          "Variable": "$.event",
          "StringEquals": "ImplicitDeregistration",
          "Next": "RM-DEREGISTERED"
        }
      ],
      "Default": "RM-REGISTERED"
    },
    "CM-IDLE": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.event",
          "StringEquals": "N2ContextEstablished",
          "Next": "CM-CONNECTED"
        }
      ],
      "Default": "CM-IDLE"
    },
    "CM-CONNECTED": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.event",
          "StringEquals": "N2ContextReleased",
          "Next": "CM-IDLE"
        },
        {
          "Variable": "$.event",
          "StringEquals": "RegistrationEvents",
          "Next": "RM-REGISTERED"
        },
        {
          "Variable": "$.event",
          "StringEquals": "DeRegistrationEvents",
          "Next": "RM-DEREGISTERED"
        }
      ],
      "Default": "CM-CONNECTED"
    }
  }
}
